{
  "email": "info@example.com",
  "staging": false,
  "domains": [
    {
      "domain": "example.com",
      "hosts": [
        ".",
        "api",
        "test",
        "www"
      ]
    },
    {
      "domain": "example2.com",
      "hosts": [
        ".",
        "www"
      ]
    }
  ]
}
